node_modules
.next
build
dist
public
jsconfig.json
next.config.js
components.json
postcss.config.js
tailwind.config.js
tsconfig.json
tsconfig.node.json
package-lock.json
package.json
.vscode
.vscode/settings.json
.prettierrc
.prettier.json
.eslint.config.mjs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.production.local
app/globals.css
