@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Poppins:wght@400;500;600;700&family=Shadows+Into+Light+Two&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.info-content{
  @apply flex items-center border-b border-gray-800/10 py-[10px];
}
.data-label{
  @apply grow max-w-[150px] mr-[15px]
}
.info-content-wrap{
  @apply grid grid-cols-1 gap-y-3 lg:grid-cols-2 lg:gap-x-0  text-reTextLight text-base font-heading lg:w-[60%]
}

.waveDivider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  fill: #222625;
  z-index: 0;
}

.waveDivider-white {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150%;
  overflow: hidden;
  line-height: 0;
  fill: white;
  z-index: 0;
}

.waveDivider svg {
  width: calc(100% + 1.3px);
  height: 20px;
}

.waveDivider-white svg {
  width: calc(100% + 1.3px);
  height: 20px;
}

.mapboxgl-popup-close-button {
  @apply py-[10px] px-[15px] text-[16px] hover:border-none border-none filter-none;
}

.mapboxgl-popup-content {
  padding: 0 !important;
  border-radius: 10px !important;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #222625;
}
